/* ----------------General Styling---------------- */

body {
  font-family: 'Calibri', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.shadow {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.second {
  background-color: #e8e8e3;
}

/* ----------------Navbar Styling---------------- */

#logo {
  color: white;
  font-size: 1.5em;
  margin: 60px 50px;
  position: fixed;
}

#menu {
  background-color: white;
  color: black;
  font-size: 1.5em;
  height: 100%;
  list-style-type: none;
  margin: 0;
  overflow-x: hidden;
  padding: 0px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: 0.5s;
  width: 0%;
  z-index: 2;
}

#openBtn {
  color: white;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 15px;
  z-index: 1;
}

#closeBtn {
  color: white;
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  right: 30px;
  top: 15px;
}

/* ----------------Welcome Section Styling---------------- */

#mainPage {
  background-image: url("../assets/backgrounds/Simple Tea Home Page.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#corpGiftTea {
  background-image: url("../assets/backgrounds/Simple Tea Tea offering.jpg");
  background-position: top;
  height: 100vh;
}

#customLabel {
  background-image: url("../assets/backgrounds/customlabelteabg.jpg");
  background-position: center;
  height: 100vh;
}

#objOfDesire {
  background-image: url("../assets/backgrounds/Simple\ Tea\ objects\ of\ desire.jpg");
  background-position: top;
  height: 100vh;
}

#contactPage {
  background-image: url("../assets/backgrounds/Simple\ Tea\ Contact\ us.jpg");
  background-size: cover;
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
}

/* Welcome text positioning */

.welcomeText {
  color: white;
  font-size: 3.5em;
  position: absolute;
}

#aboutWelcome {
  right: 15%;
  top: 25%;
}

#teaWelcome {
  right: 15%;
  top: 80%;
}

#customLabelTeaWelcome {
  bottom: 40%;
  left: 5%;
}

@media only screen and (max-height: 899px), (max-width: 800px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* ----------------Mission Styling---------------- */

.mission {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Mission General Text styling */

.missionText {
  font-size: 1.5em;
  padding: 150px;
  width: 50%;
}

.missionText h1 {
  font-size: 3em;
}

.missionText h1, .missionText h2, .missionText p {
  margin-left: 125px;
}

.lightText {
  color: #5a5b5c;
}

/* Mission General Image styling */

.missionImagesContainer {
  margin-right: 125px;
  width: 50%;
}

.missionImagesContainer img {
  position: relative;
  width: 80%;
}

.imageRow {
  display: flex;
}

.rowImage {
  margin: 20px;
}

.imageCol {
  display: flex;
  flex-direction: column;
}

.colImage {
  margin: 20px;
}

.fitImage {
  flex: 1;
}

/* About Mission Items */


/* Tea Mission Items */

.teaText {
  padding: 0px 10px 20px 50px;
}

#teaMissionItem1 {
  bottom: 75px;
}

#teaMissionItem2 {
  bottom: -50px;
}

#teaMissionItem3 {
  padding-top: 75px;
}

/* CustomLabel Mission Items */

#customMission1 {
  display: flex;
}

/* ----------------Showcase Product Carousel Styling---------------- */

.showcase {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.showcaseText {
  font-size: 1.5em;
  margin-bottom: 35vh;
  padding-top: 15vh;
  text-align: center;
}

.showcaseImagesContainer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.showcaseImagesContainer img {
  object-fit: contain;
  position: relative;
  width: 20%;
}

/* About Showcase Items */

#aboutShowcaseItem1 {
  bottom: 0px;
}

#aboutShowcaseItem2 {
  bottom: 100px;
}

#aboutShowcaseItem3 {
  bottom: -50px;
}

#aboutShowcaseItem4 {
  bottom: 200px;
}