/* General styling */
body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
}

.bold {
	font-weight: bold;
}

/* Navbar Styling */
.logo {
	color: #ebdede;
	font-size: 1.25em;
	padding: 15px 20px 15px 20px;
	position: fixed;
}

.menu {
	background: transparent;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 15px;
	position: fixed;
	right: 0;
}

.menu li {
	float: left;
	padding: 0 20px 0 20px;
}

.menu li a {
	color: #ebdede;
	font-size: 1.25em;
	display: block;
	text-align: center;
	text-decoration: none;
}

/* Welcome Section Styling */
#background {
	background-image: url("../assets/backgrounds/Simple Tea Home Page.jpg");
	background-position: center bottom;
	height: 100vh;
}

.parallax {
	background-attachment: fixed;
	background-size: cover;
}

@media only screen and (max-height: 899px),
(max-width: 800px) {
	.parallax {
		background-attachment: scroll;
	}
}

.welcome-text {
	color: white;
	font-size: 2.5em;
	padding: 0 20px 0 20px;
	position: absolute;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	top: 50%;
	transform: translateY(-50%);
}

/* Showcase Content */
/* First Showcase */
.showcase {
	align-items: center;
	padding: 0 15px 0 15px;
	height: 100vh;
	width: 100%;
}

.showcase-text {
	font-size: 1.5em;
	padding: 0 70px 0 70px;
	text-align: center;
}

.showcase-image img {
	max-width: 100%;
	height: auto;
	width: auto;
}

@media only screen and (min-width: 992px) {
	.showcase {
		display: flex;
	}

	.showcase-text {
		display: block;
		max-width: 50%;
	}

	.showcase-image {
		max-width: 50%;
	}
}

@media only screen and (min-width: 576px) {
	.showcase-text {
		padding: 100px 70px 100px 70px;
		max-width: 100%;
	}

	.showcase-image {
		max-width: 100%;
	}
}

/* 2nd row */
/* .second-showcase {
	height: 100vh;
	margin: 70px 0px 70px 0px;
}

.second-showcase img {
	margin-top: 50px;
	object-fit: cover;
	padding: 0px 50px 0px 50px;
}

.second-showcase img:hover {
}

.second-showcase img:nth-child(even) {
	margin-top: 100px;
}

@media only screen and (max-width: 800px) {
	.second-showcase {
		height: 100vh;
	}

	.second-showcase img {
		margin-top: 0;
		object-fit: cover;
		padding: 0 5px 0 5px;
	}

	.second-showcase img:nth-child(even) {
		margin-top: 0;
	}

	.second-showcase .showcase-item {
		width: 25%;
	}
} */